In [8]:
#Import libraries
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import re

In [84]:
# Import entire data
data = pd.read_csv('tech plus coding platforms assessment.csv')

In [85]:
# Get data representation
data.head()

,Name,Languages/Software,Courses/Topics,Price,Type of learning,Link
0,Code Academy,HTML & CSS\nPython\nJavaScript\nJava\nSQL\nBas...,Web Development\nData Science\nComputer Scienc...,~£160 per seat for businesses (need to contact...,Online Courses,https://www.codecademy.com/
1,Pluralsight,JavaScript\nPython\nAndroid\nHTML\nRuby\n.NET\...,Software Development\nIT Ops\nSecurity - secur...,Between £420 - £566 per user per year dependin...,Primarily video based courses with some topics...,https://www.pluralsight.com/
2,Udacity,\nPowerBI\nC++\nSQL\nPython\nR\nJava\nJavaScri...,AI for Business Leaders\nAI for Healthcare\nAI...,requires meeting with a consultant to get a qu...,"Mixture of video and online courses, also bene...",https://www.udacity.com/
3,Coursera,Python\nJavaScript\nC\nC++\nHTML\nCSS\nScratch...,Extensive computer science and data science co...,Coursera for teams (5-125 people) starts at £2...,Huge range of courses and certifications offered,https://www.coursera.org/
4,Infosec Skills,NaN,Courses geared specifically and cybersecurity,$434 per user per year,NaN,https://www.infosecinstitute.com/

In [78]:
# Extract skills
skills = data['Languages/Software'].astype(str)
ind_skills = [row.split('\n') for row in skills]
ind_skills = ind_skills[0]+ind_skills[1]+ind_skills[2]+ind_skills[3]+ind_skills[4]

for skill in ind_skills:
    if skill== '':
        ind_skills.remove('')
    if skill== 'nan':
        ind_skills.remove('nan')

print('Orginal length:', len(ind_skills))
ind_skills = list(pd.DataFrame(ind_skills)[0].unique())  
print('Reduced length:', len(ind_skills))

Orginal length: 55
Reduced length: 41

In [79]:
ind_skills

['HTML & CSS',
 'Python',
 'JavaScript',
 'Java',
 'SQL',
 'Bash/Shell',
 'Ruby',
 'C++',
 'R',
 'C#',
 'PHP',
 'Go',
 'Swift',
 'Kotlin',
 'Android',
 'HTML',
 '.NET',
 'JQuery',
 'Windows Server',
 'Docker',
 'Oracle',
 'Cisco',
 'Linux',
 'VMware',
 'CompTIA',
 'MCSE',
 'SharePoint',
 'Microsoft Office',
 'Hadoop',
 'MongoDB',
 'Tableau',
 'Unity',
 'Maya',
 'Adobe Photoshop',
 'Adobe Premier',
 'PowerBI',
 'Microsoft Azure',
 'C',
 'CSS',
 'Scratch',
 'Scala']

In [93]:
# Import new_job data
job_specific_data = pd.read_csv('Monster Jobs webscrape for junior developer, everywhere.csv')
job_descriptions = job_specific_data['Job Description']

In [94]:
# Function to remove characters which cannot be part of file name
def string_clean(string):
    bad_chars = ["/", "<", ">", ":", '"', "\\", "|", "?", "*",'\n',',','(',')','-','[',']','.','·']
    for char in bad_chars:
        string = string.replace(char, " ")
    string = string.replace(" ", "_")
    string_list = string.split('_')
    
    for string in string_list:
        if string == '':
            string_list.remove(string)
            
    string_list = [string.title() for string in string_list]
    string_list = list(pd.DataFrame(string_list)[0].unique())  
    
    return string_list

skills_freq = {}
# Loop through new data & update histogram
for row in job_descriptions:
    list_desc = string_clean(row)
    
    #loop through skills and check if it is in the row  
    for skill in ind_skills:
        if skill in list_desc:
            if skill in skills_freq:
                skills_freq[skill] += 1
            else:
                skills_freq[skill] = 1

There were 2035 roles which included:

{'Python': 417,
 'Docker': 324,
 'Java': 482,
 'C#': 440,
 'Linux': 284,
 'C++': 165,
 'Unity': 26,
 'Android': 99,
 'Go': 219,
 'Tableau': 10,
 'Scratch': 43,
 'Ruby': 127,
 'Kotlin': 50,
 'C': 136,
 'Swift': 44,
 'Oracle': 95,
 'Cisco': 18,
 'Scala': 48,
 'Hadoop': 35,
 'Maya': 6,
 'R': 6}

In [101]:
print('There were',len(job_descriptions),'roles which included: ')

sorted_dict = {}
sorted_keys = sorted(skills_freq, key=skills_freq.get)  # [1, 3, 2]

for w in sorted_keys:
    sorted_dict[w] = skills_freq[w]

sorted_dict

There were 2035 roles which included:

{'Maya': 6,
 'R': 6,
 'Tableau': 10,
 'Cisco': 18,
 'Unity': 26,
 'Hadoop': 35,
 'Scratch': 43,
 'Swift': 44,
 'Scala': 48,
 'Kotlin': 50,
 'Oracle': 95,
 'Android': 99,
 'Ruby': 127,
 'C': 136,
 'C++': 165,
 'Go': 219,
 'Linux': 284,
 'Docker': 324,
 'Python': 417,
 'C#': 440,
 'Java': 482}